.button {
    background-color: #0044be;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 2px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #ffffff;
    color:  #005bf6;
}

.disabled {
    background-color: #1d75ff;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 2px 8px;
    transition-duration: 0.4s;
    cursor: not-allowed;
}