.counter {
  display:  inline-flex;
}
.input-block {
  flex-direction: column
}


.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #428d26;
}

.window {
  margin: 50px;
  padding: 20px;
  border: solid 2px ;
  border-radius: 10px;
}
.buttons {
  margin-top: 50px;
  padding: 20px;
  border: solid 2px ;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

